@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(46, 6, 83);
    border-bottom: 2px solid black;
    color: white;
}



main section.fist{
    background-color: blueviolet;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section.fist h1{
    font-size: 3em;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;

    margin-bottom: 0px;
    padding-bottom: 0px;
}

main section.fist p{
    font-size: 1.6em;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
}

main section.fist div.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

main section.fist div.icons a.icon{
    display: block;
    width: 45px;
}

main section.fist div.icons a.icon img{
    transition: 0.3s;
}

main section.fist div.icons a.icon img:hover{
    filter: brightness(0) invert(1);
}


main section.about-me{
    background-color: black;
    display: block;
    margin: auto;
    padding: 20px;
}

main section.about-me div.text{
    display: block;
    background-color: white;

    margin: auto;
    max-width: 70vh;
    border-radius: 20px;
}
main section.about-me div.text h1{
    text-align: center;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}

main section.about-me div.text p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-size: 1em;

    padding: 10px 20px;
}



