@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    background-color: black;
    color: white;

    padding: 1px 15px;
    height: 60px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

header h1.logo{
    display: flex;
    align-items: center;
}

header h1.logo a{
    font-size: 0.8em;
    text-decoration: none;
    color: white;

    border: 2px solid white;
    border-radius: 50%;
    padding: 7px;

    text-decoration: underline;

    transition: 0.3s;
}

header h1.logo a:hover{
    color: blueviolet;
    border-color: blueviolet;
}

header h1.title{
    font-size: 1.6em;
}

header menu{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 0px;
    background-color: black;
    padding: 0px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    width: 100px;
}

header menu span#menu-icon{
    margin: 10px;
    
    font-size: 2.5em;
    transition: 0.3s;
}

header menu span#menu-icon:hover{
    color: blueviolet;
    border-color: blueviolet;

    cursor: pointer;
}

 header menu ul{
    margin-top: 5px;
 }

header menu ul li a{
    color: white;
    text-decoration: none;
    display: block;

    border: 2px solid white;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    text-align: center;
}

header menu ul li a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}


main section.fist{
    background-color: blueviolet;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section.fist h1{
    font-size: 3em;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;

    margin-bottom: 0px;
    padding-bottom: 0px;
}

main section.fist p{
    font-size: 1.6em;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
}

main section.fist div.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

main section.fist div.icons a.icon{
    display: block;
    width: 45px;
}

main section.fist div.icons a.icon img{
    transition: 0.3s;
}

main section.fist div.icons a.icon img:hover{
    filter: brightness(0) invert(1);
}


main section.about-me{
    background-color: black;
    display: block;
    margin: auto;
    padding: 20px;
}

main section.about-me div.text{
    display: block;
    background-color: white;

    margin: auto;
    max-width: 70vh;
    border-radius: 20px;
}
main section.about-me div.text h1{
    text-align: center;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}

main section.about-me div.text p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-size: 1em;

    padding: 10px 20px;
}



